@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Geologica:wght@700&display=swap');

:root {
    --background: #11112F;
    --holly-background: #D1DBFB;
    --cell-size: 129px;
    --gap: 0;
    --reveal-duration: 450ms;
    --text-blue: #0D40C4;
    --text-black: #090909;
}

body {
    background: url('assets/images/background.jpg') no-repeat;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
    gap: var(--gap);
    max-width: 903px;
    margin: auto auto;
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    overflow: hidden;
}

.fourth-cell {
    width: 100%;
    grid-column: span 2;
}

.thirteen-cell {
    height: 100%;
    grid-row: span 2;
}

.fifteen-cell {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 4;
}

.twenty-cell {
    width: 100%;
    grid-column: 1;
    grid-row: 5;
}

.twenty-first-cell {
    grid-column: 2;
    grid-row: 4;
}

.twenty-two-cell {
    width: 100%;
    grid-column: 2;
    grid-row: 5;
}

.twenty-three-cell {
    width: 100%;
    grid-column: 3;
    grid-row: 4;
}

.twenty-four-cell {
    width: 100%;
    grid-column: 3;
    grid-row: 5;
}

.eighteen-cell {
    width: 100%;
    height: 100%;
    grid-column: span 2;
}

.toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    opacity: 1;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.icon-wrap {
    position: relative;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform var(--reveal-duration) cubic-bezier(.2, .9, .2, 1), box-shadow var(--reveal-duration);
    will-change: transform;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.icon-label {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 101%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform var(--reveal-duration) cubic-bezier(.2, .9, .2, 1), opacity var(--reveal-duration);
    will-change: transform, opacity;
    z-index: 2;
    opacity: 1;
}

.photo-label {
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: opacity var(--reveal-duration) cubic-bezier(.2, .9, .2, 1), transform var(--reveal-duration) cubic-bezier(.2, .9, .2, 1);
    z-index: 3;
    transform: translateX(100%);
    opacity: 0;
}

/*!* Toggle states - one way transition only *!*/
.toggle:checked ~ .icon-label {
    transform: translateX(-100%);
    opacity: 1;
}

.toggle:checked ~ .photo-label {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

/* Directional slide animations - one way only */
.slide-right .toggle:checked ~.icon-label,
.slide-right .toggle:checked ~.photo-label {
    transform: translateX(100%);
}

/*.slide-left .toggle:checked ~ .icon-label {*/
/*    transform: translateX(-110%);*/
/*}*/

/*.slide-down .toggle:checked ~ .icon-label {*/
/*    transform: translateY(110%);*/
/*}*/

/*.slide-up .toggle:checked ~ .icon-label{*/
/*    transform: translateY(-110%);*/
/*}*/
/*.slide-up .toggle:checked ~ .photo-label {*/
/*    transform: translateY(0);*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/
/*}*/

.holidays {
    background-color: var(--holly-background);
    padding: 43px 0 35px;
    grid-column: span 4;
    grid-row: span 2;
}

.holidays img {
    margin: 0 auto;
}




.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 20px;
    background-color: white;
}



@media (max-width: 420px) {
    :root {
        --cell-size: 110px;
    }
}